{% extends 'base.html'%}
{% load static %}
{% block body%}



<div class="container-fluid">
    <h1 class="display-4 text-center ">Education</h1>
    <div class="row justify-content-md-center" style="padding:20px;">
        <div class="col-md-2" id="education_img_1">
            <img src="" alt="Daffodil International University">
        </div>

        <div class="col-10" id="institute_dis_1">
            <h1>Daffodil International University</h1>
            <h4 class="fw-lighter fst-italic">Bsc. in Computing Information System</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam amet at deleniti earum est facere harum iure pariatur placeat quas quisquam recusandae rerum saepe, similique suscipit, totam unde veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio eos facilis fugit iste labore minima quidem repudiandae sit ut. Cumque, fugiat, reprehenderit? Blanditiis eaque molestiae nesciunt, quaerat quibusdam quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi dolores excepturi explicabo labore praesentium provident quasi reiciendis, repellat soluta ullam voluptatum. Dignissimos eaque harum molestias placeat temporibus! Minima, quae. </p>
        </div>

    </div>

<!--    2nd-->
    <div class="row justify-content-md-center" style="padding:20px;">
        <div class="col-md-2" id="education_img_2">
            <img src="" alt="Daffodil International University">
        </div>

        <div class="col-10" id="institute_dis_2">
            <h1>Daffodil International University</h1>
            <h4 class="fw-lighter fst-italic">Bsc. in Computing Information System</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam amet at deleniti earum est facere harum iure pariatur placeat quas quisquam recusandae rerum saepe, similique suscipit, totam unde veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio eos facilis fugit iste labore minima quidem repudiandae sit ut. Cumque, fugiat, reprehenderit? Blanditiis eaque molestiae nesciunt, quaerat quibusdam quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi dolores excepturi explicabo labore praesentium provident quasi reiciendis, repellat soluta ullam voluptatum. Dignissimos eaque harum molestias placeat temporibus! Minima, quae. </p>
        </div>

    </div>


<!--    3-->

    <div class="row justify-content-md-center" style="padding:20px;">
        <div class="col-md-2" id="education_img_3">
            <img src="" alt="Daffodil International University">
        </div>

        <div class="col-10" id="institute_dis_3">
            <h1>Daffodil International University</h1>
            <h4 class="fw-lighter fst-italic">Bsc. in Computing Information System</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, aliquam amet at deleniti earum est facere harum iure pariatur placeat quas quisquam recusandae rerum saepe, similique suscipit, totam unde veritatis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio eos facilis fugit iste labore minima quidem repudiandae sit ut. Cumque, fugiat, reprehenderit? Blanditiis eaque molestiae nesciunt, quaerat quibusdam quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi dolores excepturi explicabo labore praesentium provident quasi reiciendis, repellat soluta ullam voluptatum. Dignissimos eaque harum molestias placeat temporibus! Minima, quae. </p>
        </div>

    </div>



</div>









{% endblock %}