{% extends 'base.html'%}
{% load static %}
{% block body%}


<style>
    .exp_hov:hover{
        background-color: #5d7273;
        color: white;
        opacity: 1;

    }
</style>


<div class="container">
    <h2 class=" display-4 text-center fw-bold">Work Experience</h2> <br><br>
    <div class="row shadow-lg p-3 mb-5 bg-body rounded"  style="padding:20px;">
        <div class="col-2 col-sm-2 col-md-2" style="padding:40px 5px 0px 40px; background-color: #7ce9ce;">
            <p>Google</p>
        </div>
        <div class="col-10 col-sm-10 col-md-10">
            <p class="fst-italic exp_hov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem cumque distinctio, dolorum eveniet excepturi non nulla perspiciatis quam sequi. Cupiditate placeat, tempora. Facere maxime pariatur quia recusandae, suscipit velit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque neque nulla sed. Adipisci blanditiis consequatur, corporis cupiditate dolorum eveniet impedit in officia perspiciatis praesentium saepe sequi similique soluta ullam veritatis?</p>
        </div>
    </div>

    <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="padding:20px;">
        <div class="col-2 col-sm-2 col-md-2" style="padding:40px 0px 0px 40px; background-color: #7ce9ce;">
            <p>Google</p>
        </div>
        <div class="col-10 col-sm-10 col-md-10">
            <p class="fst-italic exp_hov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem cumque distinctio, dolorum eveniet excepturi non nulla perspiciatis quam sequi. Cupiditate placeat, tempora. Facere maxime pariatur quia recusandae, suscipit velit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque neque nulla sed. Adipisci blanditiis consequatur, corporis cupiditate dolorum eveniet impedit in officia perspiciatis praesentium saepe sequi similique soluta ullam veritatis?</p>
        </div>
    </div>

    <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="padding:20px;">
        <div class="col-2 col-sm-2 col-md-2" style="padding:40px 0px 0px 40px; background-color: #7ce9ce;">
            <p>Google</p>
        </div>
        <div class="col-10 col-sm-10 col-md-10">
            <p class="fst-italic exp_hov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem cumque distinctio, dolorum eveniet excepturi non nulla perspiciatis quam sequi. Cupiditate placeat, tempora. Facere maxime pariatur quia recusandae, suscipit velit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque neque nulla sed. Adipisci blanditiis consequatur, corporis cupiditate dolorum eveniet impedit in officia perspiciatis praesentium saepe sequi similique soluta ullam veritatis?</p>
        </div>
    </div>

    <div class="row shadow-lg p-3 mb-5 bg-body rounded" style="padding:20px;">
        <div class="col-2 col-sm-2 col-md-2" style="padding:40px 0px 0px 40px; background-color: #7ce9ce;">
            <p>Google</p>
        </div>
        <div class="col-10 col-sm-10 col-md-10">
            <p class="fst-italic exp_hov">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab autem cumque distinctio, dolorum eveniet excepturi non nulla perspiciatis quam sequi. Cupiditate placeat, tempora. Facere maxime pariatur quia recusandae, suscipit velit?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque neque nulla sed. Adipisci blanditiis consequatur, corporis cupiditate dolorum eveniet impedit in officia perspiciatis praesentium saepe sequi similique soluta ullam veritatis?</p>
        </div>
    </div>
</div>




{% endblock%}