
img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
#project_list{
        padding-top:20px;
        box-shadow: 10px 10px 5px grey;

    }
#list:hover {
        color: green;

       }



